<!-- TODO <TITULO> -->
<md-title tituloGeneral="Solicitudes"
          tituloDescripcion="Creacion de Solicitud para Asignacion de Bienes Patrimoniales"></md-title>
<!-- TODO </TITULO> -->

<!-- TODO <DATOS PRINCIPALES DEL EMPLEADO> -->
<form>
    <div class="row">
        <div class="form-group col-6">
            <label>Ingrese Codigo del Usuario</label>
            <input [ngClass]="validarInputEmpleado" [disabled]="valorDis" type="text" maxlength="480"
                   class="form-control" id="codigoUsuario"
                   aria-describedby="codigoEmpleado"
                   placeholder="Ingrese Descripcion" #empleadoCodigo
                   (keyup)="comprobarValorCodEmpleado(empleadoCodigo.value)" value="{{usuCod}}" autocomplete="off">
            <div class="invalid-feedback">
                ID no encontrado(Ingrese un ID correcto)
            </div>
            <div class="valid-feedback">
                ID existe
            </div>
        </div>
        <div class="form-group col-6">
            <label style="visibility: hidden">buscar</label>

        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label>Dependencia Oficina</label>
            <input type="text" class="form-control" disabled id="depedenciaInputTab"
                   aria-describedby="emailHelp"
                   placeholder="Ingrese Codigo Patrimonial SIGA" #dependenciaOficina value="{{oficina}}">
        </div>
        <div class="form-group col-6">
            <label>Nombres y Apellidos</label>
            <input type="text" class="form-control" disabled id="nombreApellidos" aria-describedby="emailHelp"
                   placeholder="Ingrese Nombres y Apellidos" #nombreApellidos value="{{apellidosNombres}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label>Documento de Identidad</label>
            <input class="form-control" disabled id="descripcionInputTab"
                   aria-describedby="emailHelp"
                   placeholder="Ingrese Descripcion" #documentoID value="{{docIden}}">
        </div>
        <div class="form-group col-6">
            <label>Cargo Nivel</label>
            <input type="text" class="form-control" disabled id="secuenciaInputTab" aria-describedby="emailHelp"
                   placeholder="Ingrese numero de secuencia" #cargo value="{{cargoEmpleado}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label>Estado</label><br>
            <form class="was-validated custom-control-inline">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customRadioInline2" name="radio-stacked"
                           required>
                    <label class="custom-control-label" for="customRadioInline2">Funcionario &nbsp;</label>
                    <div class="invalid-feedback">Seleccione una modalidad</div>
                </div>
                <div class="custom-control custom-radio mb-3">
                    <input type="radio" class="custom-control-input" id="customRadioInline3" name="radio-stacked"
                           required>
                    <label class="custom-control-label" for="customRadioInline3">Servidor Publico &nbsp;</label>
                </div>
                <div class="custom-control custom-radio mb-3">
                    <input type="radio" class="custom-control-input" id="customRadioInline4" name="radio-stacked"
                           required>
                    <label class="custom-control-label" for="customRadioInline4">CAS &nbsp;</label>
                </div>
                <div class="custom-control custom-radio mb-3">
                    <input type="radio" class="custom-control-input" id="customRadioInline5" name="radio-stacked"
                           required>
                    <label class="custom-control-label" for="customRadioInline5">Practicante &nbsp;</label>
                </div>
                <div class="custom-control custom-radio mb-3">
                    <input type="radio" class="custom-control-input" id="customRadioInline6" name="radio-stacked"
                           required>
                    <label class="custom-control-label" for="customRadioInline6">Tercero &nbsp;</label>
                </div>
            </form>
        </div>
    </div>
</form>
<!-- TODO </DATOS PRINCIPALES DEL EMPLEADO> -->
<hr>

<!-- TODO <DATOS DE LA PETICION> -->
<form>
    <div class="row">
        <div class="form-group col-12">
            <label>Ingrese Su peticion</label>
            <div class="form-group">
                <!-- TODO TEXT AREA -->
                <textarea class="form-control" [disabled]="valorDis" id="exampleFormControlTextarea1" rows="3"
                          #peticioTextArea></textarea>
            </div>
        </div>
    </div>
</form>
<!-- TODO </DATOS DE LA PETICION> -->

<!-- TODO < -->
<div class="row">
    <div class="col-12 pl-0 pr-0">
        <button type="button" class="btn btn-outline-primary float-right mr-2">Cancelar</button>
        <button type="button" class="btn btn-primary float-right mr-2" [disabled]="valorDis"
                (click)="enviarSolicitud(peticioTextArea.value)">
            Enviar Solicitud
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 pl-0 pr-0">
        <div *ngIf="mostrarAlertSolicitud" [ngClass]="classMessageSolicitud" role="alert">
            {{messageAlertSolicitud}}
        </div>
    </div>
</div>

<!--<ejs-autocomplete id='games' #sample [dataSource]='sportsData' [(value)]='value'
                  [placeholder]='waterMark' [fields]='fields' (change)='onChange($event)'></ejs-autocomplete>-->
