<form [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="tipoDesplazamiento">Tipo de Desplazamiento</label>
          <select id="tipoDesplazamiento" class="form-control" formControlName="tipo">
            <option *ngFor="let td of tiposDesplazamiento" [value]="td.idTipoDesplazamiento">{{ td.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="codigoUsuario">Usuario Autorizante</label>
          <input
            id="codigoUsuario"
            [ngClass]="empleadoClass"
            type="text"
            maxlength="480"
            formControlName="codigoAutorizador"
            placeholder="Ingrese usuario"
            #autorizante
            (change)="buscarEmpleado(autorizante.value)"
            autocomplete="off"
          />
          <div class="invalid-feedback">
            ID no encontrado(Ingrese un ID correcto)
          </div>
          <div class="valid-feedback">
            ID existe
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="codigoBien">C&oacute;digo Bien Interno</label>
          <ejs-multiselect
            id="multiselectelement"
            [dataSource]="bienes"
            [fields]="fields"
            mode="CheckBox"
            placeholder="Código Bien"
            formControlName="codigosBien"
          ></ejs-multiselect>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="fechaInicioDesplazamiento">Fecha inicio del Desplazamiento</label>
          <input type="date" class="form-control" id="fechaInicioDesplazamiento" formControlName="fecha_solicitud" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="fechaFinDesplazamiento">Fecha fin del Desplazamiento</label>
          <input type="date" class="form-control" id="fechaFinDesplazamiento" formControlName="fechaFinalizado" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="detalle">Datos Adicionales</label>
          <textarea class="form-control" id="detalle" rows="3" formControlName="observacion"></textarea>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary float-right" [disabled]="form.invalid" (click)="onSave()">Guardar</button>
</form>
