<aside class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a routerLink="/" class="brand-link bg-light">
        <img src="../../../../content/images/escudo.png" alt="Mindef Logo" class="brand-image">
        <img src="../../../../content/images/logo.png" alt="Mindef Logo" class="brand-image-logo">
        <span class="clearfix"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
                [ngSwitch]="true">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library  menu-open-->
                <li class="nav-item has-treeview">
                    <a class="nav-link" routerLink="/">
                        <fa-icon class="nav-icon" [icon]="'home'"></fa-icon>
                        <p>
                            <span jhiTranslate="global.menu.home">Home</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview" *ngFor="let item of items">
                    <a class="nav-link" href="#">
                        <fa-icon class="nav-icon" [icon]="item.icon"></fa-icon>
                        <p>
                            <span jhiTranslate="{{item.translate}}">{{item.text}}</span>
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" *ngFor="let subItem of item.children">
                            <a class="nav-link" routerLink="/{{subItem.link}}" routerLinkActive="active">
                                <fa-icon class="nav-icon" [icon]="subItem.icon" [fixedWidth]="true"></fa-icon>
                                <p jhiTranslate="{{subItem.translate}}"></p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
