<div (click)="verBienesMuebles()" class="info-box ">
    <span class="{{classesHijo}}"><i class="{{iconClassHijo}}"></i></span>

    <div class="info-box-content"
         style="border-color: #BEBEBE; border-style: solid; border-width: thin; border-radius: 0.15rem">
        <span class="info-box-text text-muted">{{tituloHijo}}</span>
        <span class="info-box-number">{{cantidadHijo}}<small class="text-muted"> {{descripcionHijo}}</small></span>
    </div>
    <!-- /.info-box-content -->
</div>
