<!-- TODO <TITULO> -->
<md-title tituloGeneral="Bienes Muebles"
          tituloDescripcion="Listado Total de Bienes Muebles"></md-title>
<!-- TODO </TITULO> -->

<div class="row">
    <div class="col-12 pl-0 pr-0" style="display: block;">
        <!--<button type="button" class="btn btn-light">Borrar</button>-->
        <button type="button" class="btn btn-primary float-right mr-3" (click)="registrarNuevoBien()">Registrar</button>
        <button type="button" class="btn btn-secondary float-right mr-2" (click)="editarBien()">Editar</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12" style="display: block;">
        <!-- TODO GRID DASHBOARD -->
        <div class="control-section">
            <ejs-grid [dataSource]='dataBien' allowPaging='true' [pageSettings]='pageSettings'
                      [editSettings]='editSettings' [toolbar]='toolbar'>
                <e-columns>
                    <e-column type='checkbox' width='30'></e-column>
                    <e-column field='id_patrimonio' headerText='ID Patrimonio SIGA' width='90' textAlign='Right'
                              isPrimaryKey='true'
                              [validationRules]='orderidrules'></e-column>
                    <e-column field='id_interno' headerText='ID Interno' width='60' textAlign='Right'
                              [validationRules]='customeridrules' isPrimaryKey='true'></e-column>
                    <e-column field='descripcion' headerText='Descripcion' width='250' textAlign='Right'
                              [validationRules]='freightrules'></e-column>
                    <e-column field='estado_asignado' headerText='Estado Asignacion' width='90'
                              textAlign='Right'></e-column>
                    <e-column field='empleado' headerText='Empleado' width='100' editType='dropdownedit'
                              [edit]='editparams' textAlign='Right'></e-column>
                    <e-column field='caracteristica' headerText='Caracteristica' width='150'></e-column>
                    <e-column headerText='Manage Records' width='90' [commands]='commands'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
        <!-- TODO /GRID DASHBOARD -->
    </div>
</div>

<div class="col-12 pl-0 pr-0" *ngIf="mostrarAlert" style="display: block;">
    <div class="alert alert-primary" role="alert">
        CONEXION CORRECTA BIENES MUEBLES REGISTRADOS
    </div>
    <!--<div class="alert alert-success" role="alert">
        Se realizo exitosamente
    </div>
    <div class="alert alert-danger" role="alert">
        Ocurrio un error
    </div>
    <div class="alert alert-warning" role="alert">
        Existe una advertencia
    </div>-->
</div>
