@import 'app-variables';

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
}

/**
 * Component: Button - Inputgroup
 * ------------------
 */
.e-input-group-icon button {
  background: transparent;
  border: transparent;
}

@import 'login';
