<div class="card">
    <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Peticion</h4>
        <br>
        <hr>
        <img style="width: 10%; height: auto;"
             src="http://10.24.9.39/BBDDLEGAJOS/FOTOS/{{documentoPersonaHijo}}.jpg"
             class="rounded-circle centerImg"/>
        <br>
        <span *ngIf="datosSolicitudHijo[0]['estado']===2"
              class="badge badge-warning p-3 centerImg">ESTADO: EN REVISION</span>
        <span *ngIf="datosSolicitudHijo[0]['estado']===1"
              class="badge badge-info p-3 centerImg">ESTADO: PENDIENTE DE REVISION</span>
        <br>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user-circle"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="CODIGO DE SOLICITANTE" type="text" disabled
                           value="{{datosPersonaHijo[0]['usucod']}}">
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="DATOS SOLICITANTE" type="text" disabled
                           value="{{datosPersonaHijo[0]['nombres']}}{{datosPersonaHijo[0]['apellidos']}}">
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-sitemap"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="CARGO SOLICITANTE" type="text" disabled
                           value="{{cargoUsuarioSolicitud}}">
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="OFICINA SOLICITANTE" type="text" disabled
                           value="{{datosPersonaHijo[0]['oficina']}}">
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-shopping-cart"></i> </span>
                    </div>
                    <textarea style="border-color: #007bff" name="" class="form-control"
                              placeholder="LISTA DE PETICIONES"
                              type="text" disabled
                              value="{{datosSolicitudHijo[0]['observacion']}}"></textarea>
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary btn-block"> Volver a la Bandeja
                    </button>
                </div> <!-- form-group// -->
                <!--<p class="text-center"><a href="#" class="btn">Forgot password?</a></p>-->
            </div>
        </form>
    </article>
</div>

