<div class="e-card" id="chartLine" tabindex="0">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-header-title">GRAFICO 01</div>
            <div class="e-card-sub-title">ACTUALIZADO | 25 oct. 2019</div>
        </div>
    </div>
    <div class="e-card-content">
        <ejs-calendar></ejs-calendar>
    </div>
    <div class="e-card-actions"><a class="e-btn e-outline e-primary" target="_blank"
                                   href="https://www.google.com/maps/search/CALLE 112 ASENT.H. LOS OLIVOS DE PRO MZ. L2 LT. 22">Ampliar</a>
    </div>
</div>
